services:
  windows:
    image: dockurr/windows
    container_name: orb-win11-vbox
    environment:
      VERSION: "11" # Downloads Windows 11 Pro automatically
      KVM: "N"
      RAM_SIZE: "8G" # Crucial for Merlin/SDK performance
      CPU_CORES: "4" # Smoother UI experience
    ports:
      - 8006:8006 # WEB UI (Access via Browser)
      - 3389:3389/tcp # RDP (Access via Remote Desktop App)
      - 3389:3389/udp
    volumes:
      - ./storage:/storage # Keeps your Windows data safe if container restarts
    # Hardware acceleration (Required for speed)
    cap_add:
      - NET_ADMIN # Allows Windows to manage its own network
    restart: on-failure
